/data/isl1_sib_counts_10X/ 
/data/*.rds 
/data/*.RData 
/data/*.tsv 
/data/*.txt 
scripts/isl1_sib_counts_10X_figures/._* 
scripts/pio-lab-journal.html
scripts/pio-lab-journal_*/
scripts/.Rhistory
scripts/.RDataTmp

